.App {
  position: relative;
  margin: 0 auto;

  width: 100vw;
  height: 100vh;
  max-width: 1000px;
}

/* Styles for floating button*/
.App-new-note {
  background-color: #E91E63;
  color: white;
  border: none;
  box-shadow: 0 2px 6px rgba(0,0,0,0.16), 0 2px 6px rgba(0,0,0,0.23);
  transition: all 0.5s;

  font-size: 3em;
  text-decoration: none;
  text-align: center;

  width: 60px;
  height: 60px;
  border-radius: 30px;

  position: fixed;
  bottom: 24px;
  right: 24px;

  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App-new-note:hover {
  box-shadow: 0 4px 6px rgba(0,0,0,0.16), 0 4px 6px rgba(0,0,0,0.23);
}
